[part="input-field"] {
  box-shadow: var(--breeze-field-border), var(--breeze-field-shadow);
  background-color: var(--breeze-field-background);
  color: var(--breeze-field-color);
}

:host([focus-ring]) [part="input-field"] {
  box-shadow: 0 0 0 1px var(--lumo-primary-color), inset 0 0 0 1px var(--lumo-primary-color);
}

:host([invalid]) [part="input-field"] {
  background-color: var(--lumo-error-color-5pct);
  box-shadow: inset 0 0 0 1px var(--lumo-error-color);
}

:host([invalid][focus-ring]) [part="input-field"] {
  box-shadow: 0 0 0 1px var(--lumo-error-color), inset 0 0 0 1px var(--lumo-error-color);
}

:host([invalid]) [part="input-field"]::after {
  background-color: var(--lumo-error-color-25pct);
}

:host([readonly]) [part="input-field"] {
  background-image: linear-gradient(var(--lumo-shade-5pct), var(--lumo-shade-5pct));
}

:host([readonly]) [part="input-field"]::after {
  border: none;
  opacity: 0;
}

:host([disabled]) [part="input-field"] {
  --breeze-field-border: inset 0 0 0 1px var(--lumo-contrast-10pct);
  --breeze-field-background: var(--lumo-contrast-10pct);
}

:host([disabled]) [part='label'],
:host([disabled]) [part='input-field'] ::slotted(*) {
  color: var(--lumo-secondary-text-color);
  -webkit-text-fill-color: var(--lumo-secondary-text-color);
}

[part="input-field"]::after {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-50pct);
}

:host(:hover:not([readonly]):not([focused])) [part="input-field"]::after {
  opacity: 0.5;
}

:host([focused]:not([invalid])) [part="input-field"] {
  --breeze-field-border: inset 0 0 0 1px var(--lumo-primary-color);
}