@import url('common-field-label.css');
@import url('common-input-field.css');

:host(:hover:not([readonly]):not([focused]):not([invalid])) [part='input-field'] {
    background-color: var(--lumo-base-color);
}

:host([invalid]:hover:not([readonly]):not([focused])) [part="input-field"] {
  background-color: var(--lumo-error-color-10pct);
}

:host(:hover:not([invalid])) [part="input-field"] {
  --breeze-field-border: inset 0 0 0 1px var(--lumo-contrast-40pct);
  transition: box-shadow 200ms;
}

:host([focused]:not([invalid])) [part="input-field"] {
  --breeze-field-border: inset 0 0 0 1px var(--lumo-primary-color-50pct);
}