html {
    /* Lumo variables */
    --lumo-shade-5pct: rgba(54, 61, 93, 0.03);
    --lumo-shade-10pct: rgba(54, 61, 93, 0.07);
    --lumo-shade-20pct: rgba(54, 61, 93, 0.16);
    --lumo-shade-30pct: rgba(54, 61, 93, 0.28);
    --lumo-shade-40pct: rgba(54, 66, 93, 0.4);
    --lumo-shade-50pct: rgba(54, 66, 83, 0.5);
    --lumo-shade-60pct: rgba(54, 61, 73, 0.6);
    --lumo-shade-70pct: rgba(54, 61, 73, 0.7);
    --lumo-shade-80pct: rgba(54, 61, 73, 0.8);
    --lumo-shade-90pct: rgba(54, 61, 73, 0.9);
    --lumo-shade: hsl(220, 15%, 25%);
    --lumo-header-text-color: hsl(221, 39%, 11%);
    --lumo-body-text-color: hsl(220, 9%, 35%);
    --lumo-secondary-text-color: var(--lumo-contrast-70pct);
    --lumo-tertiary-text-color: var(--lumo-contrast-50pct);
    --lumo-disabled-text-color: var(--lumo-contrast-30pct);
    --lumo-primary-color: hsl(241, 72%, 59%);
    --lumo-primary-color-50pct: hsla(241, 72%, 59%, 0.5);
    --lumo-primary-color-10pct: hsla(241, 72%, 59%, 0.1);
    --lumo-primary-text-color: hsl(242, 55%, 51%);
    --lumo-error-color: hsl(358, 71%, 51%);
    --lumo-error-color-50pct: hsla(358, 71%, 51%, 0.50);
    --lumo-error-color-25pct: hsla(358, 71%, 51%, 0.25);
    --lumo-error-color-10pct: hsla(358, 71%, 51%, 0.10);
    --lumo-error-color-5pct: #FDF7F7;
    --lumo-error-text-color: hsl(358, 71%, 51%);
    --lumo-success-color: hsl(159, 68%, 43%);
    --lumo-success-color-50pct: hsla(159, 68%, 43%, 0.55);
    --lumo-success-color-10pct: hsla(159, 68%, 43%, 0.12);
    --lumo-success-text-color: hsl(161, 75%, 27%);

    --lumo-border-radius: 0.375rem;

    /* Breeze theme variables */
    --breeze-label-color: hsl(217, 19%, 27%);
    --breeze-field-color: hsl(217, 19%, 27%);
    --breeze-field-border: inset 0 0 0 1px var(--lumo-contrast-20pct);
    --breeze-field-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    --breeze-overlay-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    --breeze-grid-header-background: #F9F9FA;
    --breeze-grid-row-stripe: hsla(220, 15%, 25%, 0.03);

    /* Vaadin charts colors */
    --vaadin-charts-color-0: #443FC7;
    --vaadin-charts-color-1: #646BEE;
    --vaadin-charts-color-2: #BC1E5E;
    --vaadin-charts-color-3: #EA4C99;
    --vaadin-charts-color-4: #117858;
    --vaadin-charts-color-5: #23B883;
    --vaadin-charts-color-6: #B2531A;
    --vaadin-charts-color-7: #F39D2A;
    --vaadin-charts-color-8: #B71F23;
    --vaadin-charts-color-9: #ED4649;

    /* Root element configuration */
    background-color: var(--lumo-shade-5pct);
}

[theme~="dark"] {
    --lumo-base-color: hsl(220, 15%, 15%);
    --lumo-shade-5pct: rgba(54, 61, 73, 0.05);
    --lumo-shade-10pct: rgba(54, 61, 73, 0.1);
    --lumo-shade-20pct: rgba(54, 61, 73, 0.2);
    --lumo-shade-30pct: rgba(54, 61, 73, 0.3);
    --lumo-shade-40pct: rgba(54, 61, 73, 0.4);
    --lumo-shade-50pct: rgba(54, 61, 73, 0.5);
    --lumo-shade-60pct: rgba(54, 61, 73, 0.6);
    --lumo-shade-70pct: rgba(54, 61, 73, 0.7);
    --lumo-shade-80pct: rgba(54, 61, 73, 0.8);
    --lumo-shade-90pct: rgba(54, 61, 73, 0.9);
    --lumo-shade: hsl(220, 15%, 25%);
    --lumo-primary-color: hsl(241, 72%, 62%);
    --lumo-primary-color-50pct: hsla(241, 72%, 62%, 0.5);
    --lumo-primary-color-10pct: hsla(241, 72%, 66%, 0.1);
    --lumo-primary-text-color: hsl(242, 55%, 66%);
    --lumo-error-color: hsl(358, 71%, 60%);
    --lumo-error-color-50pct: hsla(358, 71%, 60%, 0.50);
    --lumo-error-color-25pct: hsla(358, 71%, 60%, 0.25);
    --lumo-error-color-10pct: hsla(358, 71%, 60%, 0.10);
    --lumo-error-color-5pct: #342D34;
    --lumo-error-text-color: hsl(358, 71%, 60%);
    --lumo-success-color: hsl(159, 68%, 46%);
    --lumo-success-color-50pct: hsla(159, 68%, 46%, 0.55);
    --lumo-success-color-10pct: hsla(159, 68%, 46%, 0.12);
    --lumo-success-text-color: hsl(161, 75%, 69%);

    --breeze-label-color: hsl(217, 19%, 90%);
    --breeze-field-color: hsl(217, 19%, 90%);
    --breeze-field-border: inset 0 0 0 1px var(--lumo-contrast-20pct);
    --breeze-grid-header-background: #252931;
    --breeze-grid-row-stripe: hsla(220, 15%, 25%, 0.35);
}

html[theme="dark"] {
    background-color: hsl(220, 15%, 14%);
}